html
	head
		title Anonify!
	body(style="text-align: center; font-family: sans;")
		h1 Share your Spotify playlists anonymously!
		p Your anonified playlist is here:
		p: a(href=playlistUrl)= playlistUrl
		a(href="/" style="padding: 10px; background: #78ca75; margin-top: 5px; font-size: 24px; border: none; text-decoration: none; color: black;") Anonify another playlist

		h2 How does this work?
		p This service takes your playlist link and copies the tracks into an anonymous account using Spotify's APIs. The created playlist is then returned to you to copy and share to your friends. Your Spotify user data is not collected by this site.

		p Written by 
			a(href="https://github.com/eevui") Eevui
