html
	head
		title Anonify!
	body(style="text-align: center; font-family: sans; width: 500px; height: 100%; display: flex; flex-direction: column; justify-content: center; margin: auto;")
		h1 Share your Spotify playlists anonymously!
		form(action="/anonify" method="POST")
			div: input(type="text" name="playlistUrl" placeholder="https://open.spotify.com/playlist/3R4m9U6d8iK59HqqCL0fTS" style="width: 400px;")
			div: input(id="go" type="submit" value="Anonify!" style="padding: 10px; background: #78ca75; margin-top: 5px; font-size: 24px; border: none;" onclick="return function _() {const b = document.getElementById('go'); b.style.background = 'grey'; b.disabled=true; b.value = 'Loading...'; b.form.submit()}();")

		h2 How does this work?
		p This service takes your playlist link and copies the tracks into an anonymous account using Spotify's APIs. The created playlist is then returned to you to copy and share to your friends. Your Spotify user data is not collected by this site.

		p Written by 
			a(href="https://github.com/eevui") Eevui
